body{
    background-color: mediumorchid;
}
div{
    position: center;
    background-color: blueviolet;
    opacity: 50%;
}
h1{
    font-size: 5em;
    font-style: italic;
    font-weight: bold;
    color: mediumorchid;
}
h2{
    font-size: 3em;
    color: mediumorchid;
}
p{
    font-size: 2em;
    color: mediumorchid;


}