body{
    background-color: mediumorchid;
}
div{
    margin: auto;
    align-content: center;
    background-color: blueviolet;
    opacity: 50%;
    height: 100%;
    width: 600px;
}
h1{
    font-size: 5em;
    font-style: italic;
    font-weight: bold;
    color: mediumorchid;
}
h2{
    font-size: 3em;
    color: mediumorchid;
}
p{
    font-size: 2em;
    color: mediumorchid;


}